NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xsd:element name="NationalParks" type="NationalParksType"/>

  <xsd:complexType name="NationalParksType">
    <xsd:sequence>
      <xsd:element name="NationalPark" type="NationalParkType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NationalParkType">
    <xsd:sequence>
      <xsd:element name="Name" type="xs:int" />
      <xsd:element name="Phone" type="xs:string" maxOccurs="unbounded" />
      <xsd:element name="Address" type="AddressType" />
    </xsd:sequence>
    <xsd:attribute name="Rating" type="xs:decimal" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Number" type="xs:int" />
      <xsd:element name="Street" type="xs:string" />
      <xsd:element name="City" type="xs:string" />
      <xsd:element name="State" type="xs:string" />
      <xsd:element name="Zip" type="xs:string" />
    </xsd:sequence>
    <xsd:attribute name="NearestAirport" type="xs:string" use="required" />
  </xsd:complexType>

</xsd:schema>
