NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NationalPark" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xsd:string" />
              <xs:element name="Phone" type="xsd:string" maxOccurs="unbounded" />
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xsd:int" />
                    <xs:element name="Street" type="xsd:string" />
                    <xs:element name="City" type="xsd:string" />
                    <xs:element name="State" type="xsd:string" />
                    <xs:element name="Zip" type="xsd:string" />
                  </xs:sequence>
                  <xs:attribute name="NearestAirport" type="xsd:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Rating" type="xsd:decimal" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
