NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Name" type="xs:string" />
  <xs:element name="Phone" type="xs:string" />
  <xs:element name="Number" type="xs:string" />
  <xs:element name="Street" type="xs:string" />
  <xs:element name="City" type="xs:string" />
  <xs:element name="State" type="xs:string" />
  <xs:element name="Zip" type="xs:string" />

  <xs:element name="Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Number" />
        <xs:element ref="Street" />
        <xs:element ref="City" />
        <xs:element ref="State" />
        <xs:element ref="Zip" />
      </xs:sequence>
      <xs:attribute name="NearestAirport" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="NationalPark">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name" />
        <xs:element ref="Phone" maxOccurs="unbounded" />
        <xs:element ref="Address" />
      </xs:sequence>
      <xs:attribute name="Rating" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NationalPark" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
